/* You can add global styles to this file, and also import other style files */

* {
    font:1em/1.5em Monospace;
	padding:0;
	margin:0;
}

p {
    font-size:12pt;
}

body {
    background-color:#00BFFF;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    margin-bottom: 50px;
}

			// /* Main page definitions */
			// div {
			// 	margin: 35px auto auto auto;
			// 	width:550px;
			// 	padding:10px 10px 10px 10px;
			// 	border:1px solid rgb(192,192,192);
			// 	border:1px solid rgba(192,192,192,0.4);
			// 	background-color:rgb(255,255,255);
			// 	border-radius:15px;
			// }

			// h1 {
			// 	margin-left: auto;
			// 	margin-right: auto;
			// 	font-size:2.25em;
			// 	font-weight:bold;
			// 	margin:1em 0;
			// 	border-bottom:1px solid #999;
			// }

			// h2 {
			// 	font-size:1.75em;
			// 	font-weight:bold;
			// 	margin:1em 0;
			// 	border-bottom:1px dashed #999;
			// }
			
			// a {	
			// 	font-size: 1.25em;
			// 	font-weight: bold;
			// 	color: #00BFFF;
			// 	margin: 1em 0;
			// 	text-decoration: none;
			// }
			
			// a:hover {
			// 	color: lightblue;
			// }

			// ul {
			//     list-style-type: none;
			// }

			// /* Title/Head definitions */
			// #intro img {
			// 	width:	40%;
			// 	height: 40%;
			//     	display: block;
			//     	margin-left: auto;
			//     	margin-right: auto;   				
			// 	border: 4px solid #00BFFF;
  			// 		-webkit-box-shadow: 3px 3px 3px #D1EEEE;
     		// 			-moz-box-shadow: 3px 3px 3px #D1EEEE;
          	// 			box-shadow: 3px 3px 3px #D1EEEE;
			// }

			// /* Projects definitons */
			// #project img {
			// 	width: 20%;
			// 	height:20%;
			//     	display: auto;
			//     	margin-left: auto;
			//     	margin-right: auto;   				
			// }

			// #projects div {
			// 	width: 120px;
			// }

			// #projects a {
			// 	color: #FFF
			// }

			// .github {
			// 	background-color:#000;
			// 	color: white;
			// }

			// .tidyapp {
			// 	background-color:#128A72;
			// 	color: white;
			// }

			// .projectsymbols {
			// 	align:bottom;
			// 	width: 28%;
			// 	height:28%;
			// }

			
